USE [MelmarkPA]
GO
/****** Object:  StoredProcedure [dbo].[usp_MPA_SchoolAttendanceSheet_Pivot]    Script Date: 4/7/2026 7:03:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_MPA_SchoolAttendanceSheet_Pivot]
    @ReportMonth  DATE = NULL,            -- any date in the month; NULL => today
    @SchoolId     INT  = NULL,            -- optional filter
    @ClassId      INT  = NULL,            -- optional filter
    @SearchText   NVARCHAR(100) = NULL    -- optional student # / name search
AS
BEGIN
    SET NOCOUNT ON;

    /* Month window */
    DECLARE @Base DATE = ISNULL(@ReportMonth, CAST(GETDATE() AS DATE));
    DECLARE @MonthStart DATE = DATEFROMPARTS(YEAR(@Base), MONTH(@Base), 1);
    DECLARE @MonthEnd   DATE = EOMONTH(@MonthStart);
    DECLARE @MonthEndPlus1 DATE = DATEADD(DAY, 1, @MonthEnd);
    DECLARE @DaysInMonth INT = DAY(@MonthEnd);

    /* ---- Build dynamic day columns [01],[02],... ---- */
    DECLARE @DayCols NVARCHAR(MAX) = N'';
    DECLARE @i INT = 1;
    WHILE @i <= @DaysInMonth
    BEGIN
        SET @DayCols += CASE WHEN @i > 1 THEN N',' ELSE N'' END
                       + N'[' + RIGHT('0' + CAST(@i AS VARCHAR(2)), 2) + N']';
        SET @i += 1;
    END;
    DECLARE @SelectDayCols NVARCHAR(MAX) =
        CASE WHEN LEN(@DayCols) > 0 THEN N', ' + @DayCols ELSE N'' END;

    /* ---- Build dynamic totals for P/T/A ---- */
    DECLARE @SumP NVARCHAR(MAX) = N'0', @SumT NVARCHAR(MAX) = N'0', @SumA NVARCHAR(MAX) = N'0';
    SET @i = 1;
    WHILE @i <= @DaysInMonth
    BEGIN
        DECLARE @d CHAR(2) = RIGHT('0' + CAST(@i AS VARCHAR(2)), 2);
        SET @SumP += N' + CASE WHEN [' + @d + N'] = ''P'' THEN 1 ELSE 0 END';
        SET @SumT += N' + CASE WHEN [' + @d + N'] = ''T'' THEN 1 ELSE 0 END';
        SET @SumA += N' + CASE WHEN [' + @d + N'] = ''A'' THEN 1 ELSE 0 END';
        SET @i += 1;
    END;

    /* ==========================================================
       Stage 1: shape per-student-per-day rows into #Shaped
       ========================================================== */
    IF OBJECT_ID('tempdb..#Shaped') IS NOT NULL DROP TABLE #Shaped;

    ;WITH Att AS
    (
        SELECT
            se.StudentId,
            se.ClassId,
            a.AttDate,
            MIN(se.CheckinTime)  AS InTime,
            MAX(se.CheckoutTime) AS OutTime,
            MAX(CASE WHEN se.IsPresent = 1 THEN 1 ELSE 0 END) AS HasPresent,
			MAX(CASE WHEN se.IsPresent = 0 THEN 1 ELSE 0 END) AS HasAbsent,

MAX(CASE 
    WHEN UPPER(LTRIM(RTRIM(
        COALESCE(
            luId.LookupDesc,
            luCode.LookupDesc,
            CAST(se.AttendanceCode AS NVARCHAR(100))
        )
    ))) IN ('TARDY','T')
THEN 1 ELSE 0 END) AS HasTardy,
            MAX(se.CreatedBy) AS CreatedBy
        FROM StdtSessEvent se
        CROSS APPLY (
			SELECT
				AttDT   = COALESCE(se.TimeStampForReport, se.CheckinTime, se.EvntTs, se.CreatedOn),
				AttDate = CONVERT(date, COALESCE(se.TimeStampForReport, se.CheckinTime, se.EvntTs, se.CreatedOn))
		) a
        LEFT JOIN LookUp luId
            ON luId.LookupType = 'AttendanceCode'
           AND TRY_CONVERT(INT, se.AttendanceCode) IS NOT NULL
           AND luId.LookupId = TRY_CONVERT(INT, se.AttendanceCode)
        LEFT JOIN LookUp luCode
            ON luCode.LookupType = 'AttendanceCode'
           AND luCode.LookupCode = CAST(se.AttendanceCode AS NVARCHAR(100))
        WHERE se.EventType = 'CH'
          AND a.AttDT >= @MonthStart
          AND a.AttDT <  @MonthEndPlus1
        GROUP BY
            se.StudentId,
            se.ClassId,
            a.AttDate
    ),
    pl_raw AS
    (
        SELECT pl.StudentPersonalId AS StudentId, pl.PlacementType
        FROM Placement pl
        WHERE pl.Discharge IS NULL
          AND pl.StartDate <= @MonthEnd
          AND (pl.EndDate IS NULL OR pl.EndDate >= @MonthStart)
    ),
    pl_text AS
    (
        SELECT
            r.StudentId,
            NULLIF(LTRIM(RTRIM(
                COALESCE(
                    NULLIF(LTRIM(RTRIM(lu.LookupCode)), ''),
                    NULLIF(LTRIM(RTRIM(lu.LookupName)), ''),
                    NULLIF(LTRIM(RTRIM(lu.LookupDesc)), ''),
                    CAST(r.PlacementType AS nvarchar(100))
                )
            )), '') AS ProgramText
        FROM pl_raw r
        LEFT JOIN LookUp lu ON lu.LookupId = r.PlacementType
    ),
    room_raw AS
    (
        SELECT DISTINCT
            s.StudentId,
            c.ClassName AS RoomName
        FROM Placement pl
        JOIN Student s ON s.StudentId = pl.StudentPersonalId
        JOIN Class   c ON c.ClassId   = pl.Location
        WHERE pl.Discharge IS NULL
          AND pl.StartDate <= @MonthEnd
          AND (pl.EndDate IS NULL OR pl.EndDate >= @MonthStart)
    )
    SELECT
        s.StudentId,
        s.StudentNbr        AS [Student No],
        s.StudentLName      AS [Last Name],
        s.StudentFName      AS [First Name],
        s.GradeLevel        AS [Grade],
        sc.SchoolName       AS [School],
        c.ClassName AS [Class],
        CASE WHEN spa.FundingCode = '4010' THEN '4010' ELSE '' END AS [4010],
        CASE WHEN spa.FundingCode = '1306' THEN '1306' ELSE '' END AS [1306],
        CASE 

			WHEN sp.Intensive IS NULL OR LTRIM(RTRIM(sp.Intensive)) = '' 

				THEN 'Standard'

			ELSE sp.Intensive

		END AS [Staffing],
        c.ClassName AS [Program],
        DAY(a.AttDate) AS DayNum,
        CASE 
			WHEN a.HasTardy = 1 THEN 'T'       -- highest priority

			WHEN a.HasPresent = 1 THEN 'P'

			WHEN a.HasAbsent = 1 THEN 'A'      -- 🔥 THIS FIXES YOUR ISSUE

			ELSE NULL
		END AS DayVal,
		spa.FundingSource as [District]
    INTO #Shaped
    FROM Att a
    JOIN Student s               ON s.StudentId          = a.StudentId
	JOIN Class c ON c.ClassId = a.ClassId
    LEFT JOIN StudentPersonal sp ON sp.StudentPersonalId = s.StudentId
	LEFT JOIN StudentPersonalPA spa on spa.StudentPersonalId=sp.StudentPersonalId
    JOIN School sc               ON sc.SchoolId          = s.SchoolId
    WHERE (@SchoolId IS NULL OR s.SchoolId = @SchoolId)
      AND (@ClassId  IS NULL OR a.ClassId  = @ClassId)
      AND (
            @SearchText IS NULL
         OR s.StudentNbr   LIKE '%'+@SearchText+'%'
         OR s.StudentFName LIKE '%'+@SearchText+'%'
         OR s.StudentLName LIKE '%'+@SearchText+'%'
      );

	CREATE CLUSTERED INDEX CX_Shaped ON #Shaped (StudentId, Class, DayNum);
    CREATE NONCLUSTERED INDEX IX_Shaped_Student ON #Shaped (StudentId)
        INCLUDE ([Student No],[Last Name],[First Name],[Grade],[School],[Class],[4010],[1306],[Staffing],[Program], DayVal);

    /* ==========================================================
       Stage 2: Attendance Contact Email (ContactSequence = 2)
       ========================================================== */
    IF OBJECT_ID('tempdb..#Email') IS NOT NULL DROP TABLE #Email;

    SELECT
        cp.StudentPersonalId AS StudentId,
        MAX(sl.PrimaryEmail) AS PrimaryEmail,   -- latest/any non-null
		cp.Employer AS [District]
    INTO #Email
    FROM StudentContactRelationship sr
    JOIN LookUp lrel             ON lrel.LookupId = sr.RelationshipId
    JOIN ContactPersonal cp      ON cp.ContactPersonalId = sr.ContactPersonalId
    JOIN StudentAddresRel sar    ON sar.ContactPersonalId = cp.ContactPersonalId
    JOIN AddressList sl          ON sl.AddressId = sar.AddressId
    WHERE lrel.LookupType = 'Relationship'
      AND lrel.LookupDesc = 'District/School Representative'
      AND sar.ContactSequence = 2
    GROUP BY cp.StudentPersonalId,cp.Employer;


		IF OBJECT_ID('tempdb..#LEARep') IS NOT NULL DROP TABLE #LEARep;

	SELECT
        cp.StudentPersonalId AS StudentId,
        MAX(cp.LastName + ' ' + cp.FirstName) AS LEARep
    INTO #LEARep
    FROM StudentContactRelationship sr
    JOIN LookUp lu ON lu.LookupId = sr.RelationshipId
    JOIN ContactPersonal cp ON cp.ContactPersonalId = sr.ContactPersonalId
    WHERE lu.LookupType = 'Relationship'
      AND lu.LookupDesc = 'District/School Representative'
    GROUP BY cp.StudentPersonalId;

    CREATE CLUSTERED INDEX CX_LEARep ON #LEARep (StudentId);

    /* ==========================================================
       Stage 3: dynamic PIVOT over #Shaped
       ========================================================== */
    DECLARE @sql NVARCHAR(MAX) = N'
    ;WITH D AS
    (
        SELECT 
            StudentId,
            [Student No],
            [Last Name],
            [First Name],
            [Grade],
            [School],
            [Class],
            [4010],
            [1306],
            [Staffing],
            [Program],
            RIGHT(''0'' + CAST(DayNum AS VARCHAR(2)),2) AS DCol,
            DayVal,

			[District]
        FROM #Shaped
    ),
    P AS
    (
        SELECT
            StudentId,
            [Student No],
            [Last Name],
            [First Name],
            [Grade],
            [School],
            [Class],
            [4010],
            [1306],
            [Staffing],
			[District],
            [Program]' + @SelectDayCols + N'
        FROM D
        PIVOT ( MAX(DayVal) FOR DCol IN (' + @DayCols + N') ) pv
    )
    SELECT
        p.[Last Name] + '', '' + p.[First Name] AS [Student],
        p.[Staffing],
        p.[Program],
        p.[4010],
        p.[1306],
        p.[District],
        ISNULL(r.LEARep, '''') AS [LEA Representative],
        CASE WHEN e.PrimaryEmail IS NULL OR LTRIM(RTRIM(e.PrimaryEmail)) = '''' THEN ''No email'' ELSE e.PrimaryEmail END AS [Send Email],
        p.[Class] AS [Room]' + @SelectDayCols + N',
        ' + @SumP + N' AS [Present],
        ' + @SumT + N' AS [Tardy],
        (' + @SumP + N' + ' + @SumT + N') AS [Total P/T],
        ' + @SumA + N' AS [Absent],
        (' + @SumP + N' + ' + @SumT + N' + ' + @SumA + N') AS [Days]
    FROM P p
    LEFT JOIN #Email  e ON e.StudentId = p.StudentId
    LEFT JOIN #LEARep r ON r.StudentId = p.StudentId
    ORDER BY p.[Last Name], p.[First Name];';

    EXEC (@sql);
END
GO
