USE [MelmarkNPA]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadDataListFilter]    Script Date: 4/7/2026 6:37:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LoadDataListFilter]
(
    @StudentId    INT,
    @SchoolId     INT,
    @StartDate    DATE,
    @EndDate      DATE,          -- currently not used in logic, kept for future use
    @ResidenceInd INT = NULL     -- 0 = Day, 1 = Residence, NULL = no filter
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Build the 8 boundary dates exactly like your C# code
    DECLARE @DateNow1 DATE = @StartDate;
    DECLARE @DateNow2 DATE = DATEADD(DAY, 13, @DateNow1);
    DECLARE @DateNow3 DATE = DATEADD(DAY, 14, @DateNow2);
    DECLARE @DateNow4 DATE = DATEADD(DAY, 14, @DateNow3);
    DECLARE @DateNow5 DATE = DATEADD(DAY, 14, @DateNow4);
    DECLARE @DateNow6 DATE = DATEADD(DAY, 14, @DateNow5);
    DECLARE @DateNow7 DATE = DATEADD(DAY, 14, @DateNow6);
    DECLARE @DateNow8 DATE = DATEADD(DAY, 14, @DateNow7);

    -- Period ranges: [D1s..D1e], [D2s..D2e], ..., [D7s..D7e]
    DECLARE @D1Start DATE = @DateNow1,                    @D1End DATE = @DateNow2;
    DECLARE @D2Start DATE = DATEADD(DAY, 1, @DateNow2),   @D2End DATE = @DateNow3;
    DECLARE @D3Start DATE = DATEADD(DAY, 1, @DateNow3),   @D3End DATE = @DateNow4;
    DECLARE @D4Start DATE = DATEADD(DAY, 1, @DateNow4),   @D4End DATE = @DateNow5;
    DECLARE @D5Start DATE = DATEADD(DAY, 1, @DateNow5),   @D5End DATE = @DateNow6;
    DECLARE @D6Start DATE = DATEADD(DAY, 1, @DateNow6),   @D6End DATE = @DateNow7;
    DECLARE @D7Start DATE = DATEADD(DAY, 1, @DateNow7),   @D7End DATE = @DateNow8;

    SELECT DISTINCT
        HDR.DSTempHdrId,
        HDR.DSTemplateName AS LessonPlanName,
        HDR.LessonPlanId,
        HDR.VerNbr,
        HDR.LessonOrder,
        (STUFF((
            SELECT ', ' + G2.GoalName
            FROM Goal G2
            INNER JOIN GoalLPRel GLP2 ON GLP2.GoalId = G2.GoalId
            WHERE GLP2.LessonPlanId = HDR.LessonPlanId
            FOR XML PATH('')
        ), 1, 2, '')) AS GoalName,

        --(SELECT TOP 1 Objective3
        -- FROM StdtLessonPlan
        -- WHERE GoalId = GLP.GoalId
        --   AND LessonPlanId = GLP.LessonPlanId
        --   AND StudentId = @StudentId
        -- ORDER BY StdtIEPId DESC) AS Objective3,

		(SELECT TOP 1 objective FROM DSTempHdr WHERE DSTempHdrid =HDR.dstemphdrid AND StudentId = @Studentid) AS Objective,

        LU_TeachingProc.LookupCode + '(' + LU_PromptType.LookupName + ')' AS TypeOfInstruction,

        -- IOA / Prompt / Set for period 1
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D1Start AND @D1End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer1,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D1Start AND @D1End
         ORDER BY S.CreatedOn DESC) AS ProptLevel1,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D1Start AND @D1End
         ORDER BY S.CreatedOn DESC) AS Set1,

        -- Period 2
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D2Start AND @D2End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer2,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D2Start AND @D2End
         ORDER BY S.CreatedOn DESC) AS ProptLevel2,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D2Start AND @D2End
         ORDER BY S.CreatedOn DESC) AS Set2,

        -- Period 3
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D3Start AND @D3End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer3,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D3Start AND @D3End
         ORDER BY S.CreatedOn DESC) AS ProptLevel3,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D3Start AND @D3End
         ORDER BY S.CreatedOn DESC) AS Set3,

        -- Period 4
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D4Start AND @D4End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer4,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D4Start AND @D4End
         ORDER BY S.CreatedOn DESC) AS ProptLevel4,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D4Start AND @D4End
         ORDER BY S.CreatedOn DESC) AS Set4,

        -- Period 5
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D5Start AND @D5End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer5,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D5Start AND @D5End
         ORDER BY S.CreatedOn DESC) AS ProptLevel5,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D5Start AND @D5End
         ORDER BY S.CreatedOn DESC) AS Set5,

        -- Period 6
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D6Start AND @D6End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer6,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D6Start AND @D6End
         ORDER BY S.CreatedOn DESC) AS ProptLevel6,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D6Start AND @D6End
         ORDER BY S.CreatedOn DESC) AS Set6,

        -- Period 7
        (SELECT 
    CAST(COUNT(TRY_CAST(ioaperc AS DECIMAL(10,2))) AS VARCHAR(10))
    + '/' +
    CAST(
        CAST(ROUND(AVG(TRY_CAST(ioaperc AS DECIMAL(10,2))), 0) AS INT)
        AS VARCHAR(10)
    )
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D7Start AND @D7End
           AND IOAPerc IS NOT NULL
         --ORDER BY CreatedOn DESC
		 ) AS IOAPer7,

        (SELECT TOP 1 L.LookupName
         FROM StdtSessionHdr S
         JOIN LookUp L ON L.LookupId = S.CurrentPromptId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D7Start AND @D7End
         ORDER BY S.CreatedOn DESC) AS ProptLevel7,

        (SELECT TOP 1 DS.SetCd
         FROM StdtSessionHdr S
         JOIN DSTempSet DS ON DS.DSTempSetId = S.CurrentSetId
         WHERE S.DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, S.CreatedOn) BETWEEN @D7Start AND @D7End
         ORDER BY S.CreatedOn DESC) AS Set7,

        -- NUM1 / MIS1
        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D1Start AND @D1End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM1,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D1Start AND @D1End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS1,

        -- NUM2 / MIS2
        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D2Start AND @D2End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                + CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM2,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D2Start AND @D2End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS2,

        -- MIS3..MIS6
        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D3Start AND @D3End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS3,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D4Start AND @D4End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS4,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D5Start AND @D5End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS5,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D6Start AND @D6End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS6,

        -- Steps 1..7
        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D1Start AND @D1End
         ORDER BY CreatedOn DESC) AS Step1,

        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D2Start AND @D2End
         ORDER BY CreatedOn DESC) AS Step2,

        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D3Start AND @D3End
         ORDER BY CreatedOn DESC) AS Step3,

        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D4Start AND @D4End
         ORDER BY CreatedOn DESC) AS Step4,

        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D5Start AND @D5End
         ORDER BY CreatedOn DESC) AS Step5,

        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D6Start AND @D6End
         ORDER BY CreatedOn DESC) AS Step6,

        (SELECT TOP 1
                (SELECT TOP 1 CASE WHEN StepCd IS NULL OR StepCd = '' THEN StepName ELSE StepCd END
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D7Start AND @D7End
         ORDER BY CreatedOn DESC) AS Step7,

        -- StepId1..7
        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D1Start AND @D1End
         ORDER BY CreatedOn DESC) AS StepId1,

        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D2Start AND @D2End
         ORDER BY CreatedOn DESC) AS StepId2,

        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D3Start AND @D3End
         ORDER BY CreatedOn DESC) AS StepId3,

        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D4Start AND @D4End
         ORDER BY CreatedOn DESC) AS StepId4,

        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D5Start AND @D5End
         ORDER BY CreatedOn DESC) AS StepId5,

        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D6Start AND @D6End
         ORDER BY CreatedOn DESC) AS StepId6,

        (SELECT TOP 1
                (SELECT TOP 1 DSTempStepId
                 FROM DSTempStep
                 WHERE DSTempSetId = CurrentSetId AND SortOrder = CurrentStepId)
         FROM StdtSessionHdr
         WHERE DSTempHdrId = HDR.DSTempHdrId
           AND CONVERT(DATE, CreatedOn) BETWEEN @D7Start AND @D7End
         ORDER BY CreatedOn DESC) AS StepId7,

        -- MIS7
        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE LessonPlanId = HDR.LessonPlanId
                           AND CONVERT(DATE, StartTs) BETWEEN @D7Start AND @D7End
                           AND SchoolId = @SchoolId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'Y'))) AS MIS7,

        -- NUM3..7
        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D3Start AND @D3End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                + CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM3,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D4Start AND @D4End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                + CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM4,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D5Start AND @D5End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                + CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM5,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D6Start AND @D6End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                + CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM6,

        (SELECT CONVERT(VARCHAR(50),
                        (SELECT COUNT(*)
                         FROM StdtSessionHdr
                         WHERE CONVERT(DATE, StartTs) BETWEEN @D7Start AND @D7End
                           AND StudentId = @StudentId
                           AND SchoolId = @SchoolId
                           AND LessonPlanId = HDR.LessonPlanId
                           AND SessionStatusCd = 'S'
                           AND IOAInd = 'N'
                           AND SessMissTrailStus = 'N'))
                + '/' +
                + CONVERT(VARCHAR(50), DHAgg.NoofTimesTried)) AS NUM7

    FROM DSTempHdr HDR
    INNER JOIN GoalLPRel GLP ON HDR.LessonPlanId = GLP.LessonPlanId
    INNER JOIN Goal G ON GLP.GoalId = G.GoalId
	LEFT JOIN LookUp LU_TeachingProc
       ON LU_TeachingProc.LookupId = HDR.TeachingProcId

	LEFT JOIN LookUp LU_PromptType
       ON LU_PromptType.LookupId = HDR.PromptTypeId

	OUTER APPLY (
    SELECT TOP 1 DH2.NoofTimesTried
    FROM DSTempHdr DH2
    WHERE DH2.LessonPlanId = HDR.LessonPlanId
      AND DH2.StatusId IN (
          SELECT LookupId
          FROM LookUp
          WHERE LookupType = 'TemplateStatus'
            AND LookupName IN ('Approved','Maintenance')
      )
      AND DH2.StudentId = @StudentId
) AS DHAgg
    WHERE
        HDR.StudentId = @StudentId
        AND HDR.StatusId IN (
            SELECT LookupId
            FROM LookUp
            WHERE LookupType = 'TemplateStatus'
              AND LookupName IN ('Approved','Maintenance')
        )
        --AND HDR.LessonSDate < @EndDate
        -- AND HDR.LessonEDate > @StartDate
        AND (
            @ResidenceInd IS NULL
            OR EXISTS (
                SELECT 1
                FROM StdtSessionHdr S
                JOIN Class C ON C.ClassId = S.StdtClassId
                WHERE S.LessonPlanId = HDR.LessonPlanId
                  AND C.ResidenceInd = @ResidenceInd
            )
        )
		ORDER BY LessonPlanName;
END;
GO
