USE [MelmarkPA2]
GO
/****** Object:  StoredProcedure [dbo].[Coversheet_Behavior_bkup13jul2021]    Script Date: 7/20/2023 4:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Coversheet_Behavior_bkup13jul2021]
@StartDate datetime,
@ENDDate datetime,
@Studentid int,
@SchoolId int

AS
BEGIN
	
	SET NOCOUNT ON;


	DECLARE @CNT INT
	,@LOOP INT
	,@MID INT
	,@BDATE DATETIME
	,@XVAL INT
	,@Behavior VARCHAR(500)
	,@SDATE DATETIME
	,@EDATE DATETIME
	,@PREVMID INT
	,@PREVBHR VARCHAR(500)
	,@SID INT
	,@School INT


	SET @SDate=@StartDate
	SET @EDate=@ENDDate
	SET @SID=@Studentid
	SET @School=@SchoolId


	IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL  
	DROP TABLE #TEMP

	
CREATE TABLE #TEMPBEHAV(Scoreid int PRIMARY KEY NOT NULL IDENTITY(1,1),MeasurementId INT,BehaveDate DATETIME,Behavior VARCHAR(500),Frequency FLOAT,Duration FLOAT,GoalDesc VARCHAR(MAX));
CREATE TABLE #TEMP(Scoreid int PRIMARY KEY NOT NULL IDENTITY(1,1),MeasurementId INT,BehaveDate DATETIME,Behavior VARCHAR(500),Frequency FLOAT,Duration FLOAT,XVal int);

	INSERT INTO #TEMPBEHAV SELECT * FROM (SELECT BHR.MeasurementId,CONVERT(DATE,BHR.CreatedOn) BehaviorDate,BDTS.Behaviour,CASE WHEN (BDTS.Frequency=1 AND BDTS.Duration=1) THEN 
	CONVERT(FLOAT,(COUNT(BHR.Duration) + SUM(FrequencyCount)))/CONVERT(FLOAT,(COUNT(BHR.Duration) + COUNT(FrequencyCount))) ELSE CASE WHEN (BDTS.Duration=1)
	THEN CONVERT(FLOAT,1)  ELSE  CONVERT(FLOAT,AVG(FrequencyCount)) END END AS Frequency,(AVG(CONVERT(float,BHR.Duration)))/60 AS DurationMin, BDTS.GoalDesc FROM Behaviour BHR INNER JOIN BehaviourDetails BDTS ON 
	BHR.MeasurementId=BDTS.MeasurementId WHERE BDTS.StudentId=@SID AND (BDTS.ActiveInd='A' OR  BDTS.ActiveInd='N') AND BDTS.[SchoolId]=@School AND CONVERT(DATE,BHR.CreatedOn) BETWEEN @SDATE 
	AND @EDATE GROUP BY BHR.MeasurementId,CONVERT(DATE,BHR.CreatedOn),BDTS.Behaviour,BDTS.Frequency,BDTS.Duration,BDTS.GoalDesc ) 
	AS BEHAV ORDER BY MeasurementId
	--SELECT * FROM #TEMPBEHAV
	SET @CNT=(SELECT COUNT(*) FROM #TEMPBEHAV)
	SET @LOOP=1
	SET @XVAL=1
	--SET @SDATE=(@SDATE)
	--SET @EDATE=(SELECT @EDATE)
	WHILE(@CNT>0)
	BEGIN
	SELECT @MID=MeasurementId,@BDATE=BehaveDate,@Behavior=Behavior FROM #TEMPBEHAV WHERE Scoreid=@LOOP	
	IF((SELECT TOP 1 MeasurementId FROM #TEMP ORDER BY Scoreid DESC)<>@MID)
	BEGIN
	WHILE(@SDATE<=@EDATE)
	BEGIN
	INSERT INTO #TEMP SELECT @PREVMID,@SDATE,@PREVBHR,NULL,NULL,@XVAL
	SET @SDATE=(SELECT CONVERT(DATE,DATEADD(day,1,@SDATE)))
	SET @XVAL=@XVAL+1
	END
	SET @SDATE=@StartDate
	SET @XVAL=1	
	END
	WHILE(@SDATE<@BDATE)
	BEGIN
	INSERT INTO #TEMP SELECT @MID,@SDATE,@Behavior,NULL,NULL,@XVAL
	SET @SDATE=(SELECT CONVERT(DATE,DATEADD(day,1,@SDATE)))
	SET @XVAL=@XVAL+1
	END
	INSERT INTO #TEMP SELECT MeasurementId,BehaveDate,Behavior,Frequency,Duration,@XVAL FROM #TEMPBEHAV WHERE Scoreid=@LOOP	
	SET @SDATE=(SELECT CONVERT(DATE,DATEADD(day,1,@SDATE)))
	SET @XVAL=@XVAL+1
	SET @LOOP=@LOOP+1
	SET @CNT=@CNT-1
	SET @PREVMID=@MID
	SET @PREVBHR=@Behavior

	IF(@CNT=0)
	BEGIN
	WHILE(@SDATE<=@EDATE)
	BEGIN
	INSERT INTO #TEMP SELECT @PREVMID,@SDATE,@PREVBHR,NULL,NULL,@XVAL
	SET @SDATE=(SELECT CONVERT(DATE,DATEADD(day,1,@SDATE)))
	SET @XVAL=@XVAL+1
	END
	END
	END
	

	CREATE TABLE #TEMPBEHAV1(Scoreid int PRIMARY KEY NOT NULL IDENTITY(1,1),MeasurementId INT,Behaviour VARCHAR(500),FRQDeltaX FLOAT,FRQDeltaY FLOAT
	,FRQSlope FLOAT,DURDeltaX FLOAT,DURDeltaY FLOAT,DURSlope FLOAT,FRQSharpDecrease VARCHAR(1),FRQSlightDecrease VARCHAR(1),FRQStable VARCHAR(1),FRQSlightIncrease VARCHAR(1),FRQSharpIncrease VARCHAR(1),
	DURSharpDecrease VARCHAR(1),DURSlightDecrease VARCHAR(1),DURStable VARCHAR(1),DURSlightIncrease VARCHAR(1),DURSharpIncrease VARCHAR(1),GoalDesc VARCHAR(MAX));

	INSERT INTO #TEMPBEHAV1(MeasurementId,Behaviour,GoalDesc) 
	SELECT DISTINCT MeasurementId,Behaviour,GoalDesc FROM (SELECT BHR.MeasurementId,CONVERT(DATE,BHR.CreatedOn) BehaviorDate,BDTS.Behaviour,CASE WHEN (BDTS.Frequency=1 AND BDTS.Duration=1) THEN 
	CONVERT(FLOAT,(COUNT(BHR.Duration) + SUM(FrequencyCount)))/CONVERT(FLOAT,(COUNT(BHR.Duration) + COUNT(FrequencyCount))) ELSE CASE WHEN (BDTS.Duration=1)
	THEN CONVERT(FLOAT,1)  ELSE  CONVERT(FLOAT,AVG(FrequencyCount)) END END AS Frequency,(AVG(CONVERT(float,BHR.Duration)))/60 AS DurationMin, BDTS.GoalDesc FROM Behaviour BHR INNER JOIN BehaviourDetails BDTS ON 
	BHR.MeasurementId=BDTS.MeasurementId WHERE BDTS.StudentId=@SID AND (BDTS.ActiveInd='A' OR  BDTS.ActiveInd='N') AND BDTS.[SchoolId]=@School AND  CONVERT(DATE,BHR.CreatedOn) BETWEEN @StartDate 
	AND @ENDDate GROUP BY BHR.MeasurementId,CONVERT(DATE,BHR.CreatedOn),BDTS.Behaviour,BDTS.Frequency,BDTS.Duration,BDTS.GoalDesc ) 
	AS BEHAV ORDER BY MeasurementId

	SET @CNT=(SELECT COUNT(*) FROM #TEMPBEHAV1)
	SET @LOOP=1

	WHILE(@CNT>0)
	BEGIN
	IF((SELECT COUNT(*) FROM #TEMPBEHAV WHERE MeasurementId=(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP))>1)
	BEGIN

	UPDATE #TEMPBEHAV1 SET FRQDeltaY=((SELECT TOP 1 Frequency FROM #TEMPBEHAV WHERE MeasurementId=(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE 
	Scoreid=@LOOP) AND Frequency IS NOT NULL ORDER BY Scoreid DESC)-(SELECT TOP 1 Frequency FROM #TEMPBEHAV WHERE MeasurementId=(SELECT 
	MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP) AND Frequency IS NOT NULL ORDER BY Scoreid ASC)) WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQDeltaX= ((SELECT TOP 1 XVal FROM #TEMP WHERE BehaveDate=(SELECT TOP 1 BehaveDate FROM #TEMPBEHAV WHERE MeasurementId=
	(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP) AND Frequency IS NOT NULL ORDER BY Scoreid DESC) AND MeasurementId=(SELECT 
	MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP))-(SELECT TOP 1 XVal FROM #TEMP WHERE BehaveDate=(SELECT TOP 1 BehaveDate FROM #TEMPBEHAV WHERE 
	MeasurementId=(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP) AND Frequency IS NOT NULL ORDER BY Scoreid ASC) AND MeasurementId=
	(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP))) WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQSlope=CASE WHEN FRQDeltaX<>0 THEN ROUND(CONVERT(FLOAT,(FRQDeltaY/FRQDeltaX)),2) ELSE 0 END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURDeltaY=((SELECT TOP 1 Duration FROM #TEMPBEHAV WHERE MeasurementId=(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE 
	Scoreid=@LOOP) AND Duration IS NOT NULL ORDER BY Scoreid DESC)-(SELECT TOP 1 Duration FROM #TEMPBEHAV WHERE MeasurementId=(SELECT 
	MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP) AND Duration IS NOT NULL ORDER BY Scoreid ASC)) WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURDeltaX= ((SELECT TOP 1  XVal FROM #TEMP WHERE BehaveDate=(SELECT TOP 1 BehaveDate FROM #TEMPBEHAV WHERE MeasurementId=
	(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP) AND Duration IS NOT NULL ORDER BY Scoreid DESC) AND MeasurementId=(SELECT 
	MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP))-(SELECT TOP 1 XVal FROM #TEMP WHERE BehaveDate=(SELECT TOP 1 BehaveDate FROM #TEMPBEHAV WHERE 
	MeasurementId=(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP) AND Duration IS NOT NULL ORDER BY Scoreid ASC) AND MeasurementId=
	(SELECT MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP))) WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURSlope=CASE WHEN DURDeltaX<>0 THEN ROUND(CONVERT(FLOAT,(DURDeltaY/DURDeltaX)),2) ELSE 0 END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQSharpDecrease=CASE WHEN FRQSlope<>0 THEN CASE WHEN FRQSlope< TAN (-15 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURSharpDecrease=CASE WHEN DURSlope<>0 THEN CASE WHEN DURSlope< TAN (-15 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQSlightDecrease=CASE WHEN FRQSlope<>0 THEN CASE WHEN TAN (-15 * (PI() / 180))<FRQSlope AND FRQSlope< TAN (-2 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURSlightDecrease=CASE WHEN DURSlope<>0 THEN CASE WHEN TAN (-15 * (PI() / 180))<DURSlope AND DURSlope< TAN (-2 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQStable=CASE WHEN FRQSlope<>0 THEN CASE WHEN TAN (-2 * (PI() / 180))<FRQSlope AND FRQSlope< TAN (2 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURStable=CASE WHEN DURSlope<>0 THEN CASE WHEN TAN (-2 * (PI() / 180))<DURSlope AND DURSlope< TAN (2 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQSlightIncrease=CASE WHEN FRQSlope<>0 THEN CASE WHEN TAN (2 * (PI() / 180))<FRQSlope AND FRQSlope< TAN (15 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURSlightIncrease=CASE WHEN DURSlope<>0 THEN CASE WHEN TAN (2 * (PI() / 180))<DURSlope AND DURSlope< TAN (15 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET FRQSharpIncrease=CASE WHEN FRQSlope<>0 THEN CASE WHEN FRQSlope >= TAN (15 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	UPDATE #TEMPBEHAV1 SET DURSharpIncrease=CASE WHEN DURSlope<>0 THEN CASE WHEN DURSlope >= TAN (15 * (PI() / 180)) THEN 'X' END END WHERE Scoreid=@LOOP

	END
	SET @LOOP=@LOOP+1
	SET @CNT=@CNT-1
	END

	--NEW ADF AND ADD CALCULATION
	DECLARE @FREQ FLOAT, @YesNo INT, @DUR FLOAT, @DAYCOUNT INT
	SET @CNT=(SELECT COUNT(*) FROM #TEMPBEHAV1)
	SET @LOOP=1
	WHILE(@CNT>0)
	BEGIN
		SELECT @MID=MeasurementId FROM #TEMPBEHAV1 WHERE Scoreid=@LOOP
		SELECT @FREQ=Frequency,@YesNo=YesOrNo,@DUR=Duration  FROM BehaviourDetails WHERE MeasurementId=@MID
		IF (@FREQ = 1 OR @YesNo = 1)
		BEGIN
			SET @FREQ=(SELECT SUM(FrequencyCount) FROM Behaviour WHERE MeasurementId=@MID AND CONVERT(DATE,CreatedOn)>=@StartDate AND CONVERT(DATE,CreatedOn)<=@ENDDate)
			SET @DAYCOUNT=(SELECT COUNT(DISTINCT(CONVERT(DATE,CreatedOn))) FROM Behaviour WHERE MeasurementId=@MID AND CONVERT(DATE,CreatedOn)>=@StartDate AND CONVERT(DATE,CreatedOn)<=@ENDDate)
			UPDATE #TEMPBEHAV1 SET FRQSlope=ROUND((@FREQ/@DAYCOUNT),2) WHERE MeasurementId=@MID
		END
		IF (@DUR = 1)
		BEGIN
			SET @DUR=(SELECT SUM(CONVERT(FLOAT, Duration)) FROM Behaviour WHERE MeasurementId=@MID AND CONVERT(DATE,CreatedOn)>=@StartDate AND CONVERT(DATE,CreatedOn)<=@ENDDate)
			SET @DAYCOUNT=(SELECT COUNT(DISTINCT(CONVERT(DATE,CreatedOn))) FROM Behaviour WHERE MeasurementId=@MID AND CONVERT(DATE,CreatedOn)>=@StartDate AND CONVERT(DATE,CreatedOn)<=@ENDDate)
			UPDATE #TEMPBEHAV1 SET DURSlope=ROUND(((@DUR/60)/@DAYCOUNT),2) WHERE MeasurementId=@MID
		END
		SET @LOOP=@LOOP+1
		SET @CNT=@CNT-1
	END

	ALTER TABLE #TEMPBEHAV1 
	ALTER COLUMN FRQSlope VARCHAR(50)
	ALTER TABLE #TEMPBEHAV1 
	ALTER COLUMN DURSlope VARCHAR(50)


	UPDATE #TEMPBEHAV1 SET FRQSlope=FRQSlope+' ADF' WHERE FRQSlope IS NOT NULL
	UPDATE #TEMPBEHAV1 SET DURSlope=DURSlope+' ADD' WHERE DURSlope IS NOT NULL
	SELECT * FROM #TEMPBEHAV1
	DROP TABLE #TEMPBEHAV
	DROP TABLE #TEMPBEHAV1
	DROP TABLE #TEMP

	--SELECT TAN (-15 * (PI() / 180)),TAN (-2 * (PI() / 180)),TAN (2 * (PI() / 180)),TAN (15 * (PI() / 180)),TAN (15 * (PI() / 180))
	
	

END


GO
